
        <!--// Header \\-->
        <header id="sportsmagazine-header" class="sportsmagazine-header-one ">

            <!--// TopStrip \\-->
            <div class="sportsmagazine-topstrip">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-4">
                            <ul class="sportsmagazine-social-network">
                                <li><a href="#" class="sportsmagazine-colorhover fa fa-facebook-official"></a></li>
                                <li><a href="#" class="sportsmagazine-colorhover fa fa-twitter-square"></a></li>
                                <li><a href="#" class="sportsmagazine-colorhover fa fa-linkedin-square"></a></li>
                                <li><a href="#" class="sportsmagazine-colorhover fa fa-google-plus-square"></a></li>
                            </ul>
                        </aside>
                        <aside class="col-md-8">
                            <ul class="sportsmagazine-user-section">
                                <li><i class="fa fa-user"></i> <a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                                <li><i class="fa fa-sign-in"></i> <a href="#" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
            <!--// TopStrip \\-->

            <!--// MainSection \\-->
            <div class="sportsmagazine-main-header">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-2"><a href="index.html" class="sportsmagazine-logo"><img src="assets/images/logo-1.png"></a></aside>
                        <div class="col-md-10">
                            <div class="sportsmagazine-right-section">
                                <app-menu></app-menu>
                                <a data-toggle="modal" data-target="#searchModal" href="#" class="sportsmagazine-search-btn sportsmagazine-colorhover"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// MainSection \\-->

        </header>
        <!--// Header \\-->
