  <a routerLink="/countries/form">Countries</a>
    <table>
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>capital</th>
            <th>alpha2Code</th>
            <th>alpha3Code</th>
            <th>numericCode</th>
            <th>region</th>
            <th>subregion</th>
            <th>flag</th>
            <th>Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries">
            <td><a [routerLink]="['/countries', country.id]">{{country.id}}</a></td>
            <td>{{country.name}}</td>
            <td>{{country.capital}}</td>
            <td>{{country.alpha2Code}}</td>
            <td>{{country.alpha3Code}}</td>
            <td>{{country.numericCode}}</td>
            <td>{{country.region}}</td>
            <td>{{country.subregion}}</td>
            <td>{{country.flag}}</td>
            <td> <a (click)='deleteCountry(country.id)'>Delete</a> <a [routerLink]="['/countries/form', country.id]">Editar</a></td>
          </tr>
        </tbody>
    </table>
