
    

    <a class="btn btn-success" href="dashboard/tags/create">Crear tags</a>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Listado de tags</h5>
      <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Título</th>
                  <th scope="col">Slug</th>
                  <th scope="col">Idioma</th>
                  <th scope="col">Total Articles</th>
                  <th scope="col">Operaciones</th>       
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tag of tags">
                  <td>{{tag.id}}</td>
                  <td>{{tag.name}}</td>
                  <td>{{tag.slug}}</td>   
                  <td>{{tag.language}}</td> 
                  <td>{{tag.totalArticles}}</td>    
   
                  <td><a class="btn btn-warning" href="dashboard/tags/edit/{{tag.id}}">Editar</a> <a class="btn btn-danger" (click)="deleteTag(tag.id)">Borrar</a> <a class="btn btn-info" href="dashboard/tags/view/{{tag.id}}">Ver</a></td>             
                </tr>  
              </tbody>
            </table>
            <ul class="nav nav-pills">
              <li class="nav-item" *ngFor="let page of pages;let i=index">
                <a class="nav-link" href="" (click)="setPage(i,$event)">{{i+1}}</a>
              </li>
            </ul>
          </div>
          </div>
        </div>
      </div>
    </div>

<ul>

</ul>