
		<!--// Main Content \\-->
		<div class="sportsmagazine-main-content">

			<!--// Main Section \\-->
			<div class="sportsmagazine-main-section sportsmagazine-fixture-listfull">
				<div class="container">
					<div class="row">
            <!--// SideBar \\-->
            <aside class="col-md-4">
						    <!--// Widget Cetagories \\-->
								<div class="sportsmagazine-fancy-title"><h2>{{info?.countries}}</h2></div>
                <div class="widget widget_cetagories">
									<app-countries></app-countries>
                </div>

                <!--// Widget Cetagories \\-->
								<!--// Widget Cetagories \\-->
								<div class="sportsmagazine-fancy-title"><h2>{{info?.competitions}}</h2></div>
								<div class="widget widget_cetagories">
									<app-competitions></app-competitions>
								</div>
								<!--// Widget Cetagories \\-->
            </aside>
            <!--// SideBar \\-->
						<div class="col-md-8">
							<div class="sportsmagazine-fixture-slider-layer sportsmagazine-fixture-booked">
									<app-calendar></app-calendar>
							</div>

						</div>
			</div>
			<!--// Main Section \\-->

		</div>
		<!--// Main Content \\-->
<app-login></app-login>
<app-signup></app-signup>
