
		<!--// Main Content \\-->
		<div class="sportsmagazine-main-content">

			<!--// Main Section \\-->
			<div class="sportsmagazine-main-section sportsmagazine-fixture-listfull">
				<div class="container">
					<div class="row">
            <!--// SideBar \\-->
            <aside class="col-md-4">
							<!--// Widget Newsletter \\-->
									 <div class="widget widget_newsletter">
											 <div class="sportsmagazine-fancy-title"><h2>Our Newsletter</h2></div>
											 <form>
													 <label>Subscribe Now</label>
													 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac malesuada ante.</p>
													 <input type="text" value="Your Name" onblur="if(this.value == '') { this.value ='Your Name'; }" onfocus="if(this.value =='Your Name') { this.value = ''; }">
													 <input type="text" value="Enter Your email" onblur="if(this.value == '') { this.value ='Enter Your email'; }" onfocus="if(this.value =='Enter Your email') { this.value = ''; }">
													 <label class="widget_newsletter_btn"><input type="submit" value="Subscribe"></label>
											 </form>
									 </div>
									 <!--// Widget Newsletter \\-->
                              <!--// Widget Cetagories \\-->
								<div class="sportsmagazine-fancy-title"><h2>Competitions</h2></div>
                <div class="widget widget_cetagories">
                    <ul>
                        <li><a href="404.html">Championship <span>( 13 )</span></a></li>
                        <li><a href="404.html">Super Ball <span>( 12 )</span></a></li>
                        <li><a href="404.html">Football <span>( 04 )</span></a></li>
                        <li><a href="404.html">Boxing <span>( 08 )</span></a></li>
                        <li><a href="404.html">BasketBall <span>( 13 )</span></a></li>
                    </ul>
                </div>
                <!--// Widget Cetagories \\-->
								<!--// Widget Cetagories \\-->
								<div class="sportsmagazine-fancy-title"><h2>Countries</h2></div>
								<div class="widget widget_cetagories">
										<ul>
												<li><a href="404.html">Championship <span>( 13 )</span></a></li>
												<li><a href="404.html">Super Ball <span>( 12 )</span></a></li>
												<li><a href="404.html">Football <span>( 04 )</span></a></li>
												<li><a href="404.html">Boxing <span>( 08 )</span></a></li>
												<li><a href="404.html">BasketBall <span>( 13 )</span></a></li>
										</ul>
								</div>
								<!--// Widget Cetagories \\-->
            </aside>
            <!--// SideBar \\-->
						<div class="col-md-8">
							<div class="sportsmagazine-fixture-slider-layer sportsmagazine-fixture-booked">
									<div class="sportsmagazine-fancy-title"><h2>ACB</h2></div>
									<time datetime="2008-02-14 20:00"> December 31, 2016 , 20:00</time>
							</div>

						</div>
			</div>
			<!--// Main Section \\-->

		</div>
		<!--// Main Content \\-->
<app-login></app-login>
<app-signup></app-signup>
