<form [formGroup]="form" (ngSubmit)="submit()">    
  <div class="form-group">

      <label for="website">YEAR:</label>

      <select formControlName="yearsList" class="form-control">

          <option disabled>Select Website</option>

          <option>Choose option</option>

          <option *ngFor="let web of yearsList">{{web}}</option>

      </select>

      <div *ngIf="f.yearsList.touched && f.yearsList.invalid" class="alert alert-danger">
          <div *ngIf="f.yearsList.errors.required">Year is required.</div>
      </div>

  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>

</form>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Listado de equipos</h5>
  <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">CODE</th>
              <th scope="col">TEAM NAME</th>
              <th scope="col">SEASON</th>
              <th scope="col">Operaciones</th>       
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of teams">
              <td>{{team.team}}</td>
              <td>{{team.nameTeam}}</td>
              <td>{{team.seasson}}</td>   
              <td><a href="dashboard/euroleague/teamCode/{{team.team}}/seasson/{{team.seasson}}" class="btn btn-info">Ver partidos</a></td>             
            </tr>  
          </tbody>
        </table>
        
        <ul class="nav nav-pills">
          <li class="nav-item" *ngFor="let page of pages;let i=index">
            <a class="nav-link" href="" (click)="setPage(i,$event)">{{i+1}}</a>
          </li>
        </ul>
      </div>
      
      </div>
    </div>
  </div>
</div>