<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
    <div class="card-title">Tradcir artículo</div>
    <form name="form" (ngSubmit)="f.form.valid && traducir()" #f="ngForm" novalidate>           
      <div class="form-group">
        <label for="exampleFormControlFile1">Titulo</label>
        <input type="text" name="titulo" [(ngModel)]="model.titulo" #titulo="ngModel" class="form-control" id="titulo">
      </div>    
      <div class="form-group">
        <label for="exampleFormControlFile1">Clave</label>
        <input type="text" name="clave" [(ngModel)]="model.clave" #clave="ngModel" class="form-control" id="clave" disabled>
      </div> 
      <div class="form-group">
        <label for="input-1">URL SEO</label>
        <input type="text" value="model.id" name="urlSeo" [(ngModel)]="model.urlSeo" #urlSeo="ngModel" class="form-control" id="input-1" placeholder="Enter Your Name">
       </div> 
       <div class="form-group">
        <label for="input-1">Username</label>
        <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" class="form-control" id="input-1" placeholder="Enter Your username">
       </div>        
       <div class="form-group">
        <label for="input-1">Image</label>
        <input type="file" (change)="handleUpload($event)">
      </div>  
      <div class="form-group">
        <label for="input-1">Seleccionar idioma</label>      
      <select class="form-control" (change) = "changedata($event)">
        <option [(ngModel)]="model.idiomas" *ngFor="let option of model.idiomas"> {{option.iso2}} </option>
    </select>
    <div class="form-group">
    <label for="input-1">Categorías</label>
    <div *ngFor="let data of list1 let i=index">
      <label>
        <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event,data.categoryId)" />
        {{data.nameCategoryTranslated}}
      </label>
    </div>
    </div>
      </div>
       <div class="form-group">
        <label for="exampleFormControlTextarea1">Descripcion</label>
        <textarea name="descripcion1" [(ngModel)]="model.descripcion1" #descripcion1="ngModel" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Contenido</label>
        <ckeditor name="content" [(ngModel)]="model.content" #content="ngModel"></ckeditor>
      </div>
    
      <button [disabled]="loading" class="btn btn-primary">Editar</button>                                                 
    </form>
  </div>
  </div>
</div>