<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
    <div class="card-title">Editar artículo</div>
    <form name="form" (ngSubmit)="f.form.valid && editar()" #f="ngForm" novalidate>           
      <div class="form-group">
        <label for="exampleFormControlFile1">Titulo</label>
        <input type="text" name="titulo" [(ngModel)]="model.titulo" #titulo="ngModel" class="form-control" id="titulo">
      </div>    
      <div class="form-group">
        <label for="exampleFormControlFile1">Clave</label>
        <input type="text" name="clave" [(ngModel)]="model.clave" #clave="ngModel" class="form-control" id="clave" disabled>
      </div> 
      <div class="form-group">
        <label for="input-1">URL SEO</label>
        <input type="text" value="model.id" name="urlSeo" [(ngModel)]="model.urlSeo" #urlSeo="ngModel" class="form-control" id="input-1" placeholder="Enter Your Name">
       </div> 
       <div class="form-group">
        <label for="input-1">Username</label>
        <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" class="form-control" id="input-1" placeholder="Enter Your username">
       </div> 
       <div class="form-group">
        <label for="input-1">Seleccionar idioma</label>  
        <select class="form-control" (change) = "changedata($event)">
          <option>{{model.languageId }}</option>
          <option *ngFor="let option of model1.languages.languages" [value]="option.iso2"> {{option.iso2}} </option>
        </select>  
        <div class="form-group">
          <label for="input-1">Categorias</label>
          <div *ngFor="let category of list; let num = index">
            <div *ngIf="category.hasCategory === true">
              <input type="checkbox" [value]="category.categoryId" (change)="onCheckboxChange($event,category.id)" checked/>{{category.nameCategoryTranslated}}
            </div>
            <div *ngIf="category.hasCategory === false">
              <input type="checkbox" [value]="category.categoryId" (change)="onCheckboxChange($event,category.id)"/>{{category.nameCategoryTranslated}}
            </div>                    
          </div> 
          <div *ngFor="let category of list1; let num = index">
              <input type="checkbox" [value]="category.id" (change)="onCheckboxChange($event,category.id)"/>{{category.nameCategoryTranslated}}
          </div>                
        </div>
      </div>
       <div class="form-group">
        <label for="input-1">Image</label>
        <input type="file" (change)="showPreview($event)">
        <img [src]="model.images" *ngIf="model.images">
      </div>        
       <div class="form-group">
        <label for="exampleFormControlTextarea1">Descripcion</label>
        <textarea name="descripcion1" [(ngModel)]="model.descripcion1" #descripcion1="ngModel" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Descripcion</label>
        <ckeditor name="content" [(ngModel)]="model.content" #content="ngModel"></ckeditor>
      </div>
      <button [disabled]="loading" class="btn btn-primary">Editar</button>                                                 
    </form>
  </div>
  </div>
</div>