	<div *ngFor="let recipient of matches | keyvalue">
		<span *ngFor="let item of recipient.value | keyvalue">
      <div class="sportsmagazine-fancy-title"><h2> {{recipient.key}} | {{item.key}} | 31-12-2019 | 20:00 </h2></div>
      <span *ngFor="let element of item.value">
        <div class="col-md-12">
                                    <div class="sportsmagazine-match-fixture">

                                        <table class="sportsmagazine-client-detail">
                                            <tbody><tr>
                                                <td>{{element.location.name}}</td>
                                                <td>
                                                    <figure><img src="extra-images/player-stats-img1.jpg" alt=""></figure>
                                                    <div class="player-stats-text">
                                                        <h6>{{element.localTeam.name}}</h6>
                                                        <span>St. Patrick’s Institute</span>
                                                    </div>
                                                </td>
                                                <td><span>VS</span></td>
                                                <td>
                                                    <figure><img src="extra-images/player-stats-img2.jpg" alt=""></figure>
                                                    <div class="player-stats-text">
                                                      <h6>{{element.visitorTeam.name}}</h6>
                                                        <span>Marine College</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </div>
                                </div>

      </span>
    </span>
    </div>
