<div class="sportsmagazine-fancy-title"><h2>España | ACB </h2></div>
<div class="col-md-12">
                            <div class="sportsmagazine-match-fixture">
                                <table class="sportsmagazine-client-detail">
                                    <tbody><tr>
                                        <td>December 09, 2017 | 20:45</td>
                                        <td>
                                            <figure><img src="extra-images/player-stats-img1.jpg" alt=""></figure>
                                            <div class="player-stats-text">
                                                <h6>Ocean Kings</h6>
                                                <span>St. Patrick’s Institute</span>
                                            </div>
                                        </td>
                                        <td><span>VS</span></td>
                                        <td>
                                            <figure><img src="extra-images/player-stats-img2.jpg" alt=""></figure>
                                            <div class="player-stats-text">
                                                <h6>Bloody Wave</h6>
                                                <span>Marine College</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>December 11, 2017</td>
                                        <td>
                                            <figure><img src="extra-images/player-stats-img3.jpg" alt=""></figure>
                                            <div class="player-stats-text">
                                                <h6>L.A Pirates</h6>
                                                <span>Bebop Institute</span>
                                            </div>
                                        </td>
                                        <td><span>VS</span></td>
                                        <td>
                                            <figure><img src="extra-images/player-stats-img4.jpg" alt=""></figure>
                                            <div class="player-stats-text">
                                                <h6>Ocean Kings</h6>
                                                <span>Icarus College</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>December 12, 2017</td>
                                        <td>
                                            <figure><img src="extra-images/player-stats-img5.jpg" alt=""></figure>
                                            <div class="player-stats-text">
                                                <h6>Red Wings</h6>
                                                <span>Marine College</span>
                                            </div>
                                        </td>
                                        <td><span>VS</span></td>
                                        <td>
                                            <figure><img src="extra-images/player-stats-img6.jpg" alt=""></figure>
                                            <div class="player-stats-text">
                                                <h6>Lucky Clovers</h6>
                                                <span>Elric Bros School</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>December 15, 2017</td>
                                        <td>
                                            <figure><img src="extra-images/fixture-classic-img6.png" alt=""></figure>
                                            <div class="player-stats-text">
                                                <h6>Draconians</h6>
                                                <span>Atlantic School</span>
                                            </div>
                                        </td>
                                        <td><span>VS</span></td>
                                        <td>
                                            <figure><img src="extra-images/player-stats-img1.jpg" alt=""></figure>
                                            <div class="player-stats-text">
                                                <h6>Ocean Kings</h6>
                                                <span>St. Patrick’s Institute</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>December 17, 2017</td>
                                        <td>
                                            <figure><img src="extra-images/player-stats-img2.jpg" alt=""></figure>
                                            <div class="player-stats-text">
                                                <h6>Bloody Wave</h6>
                                                <span>Marine College</span>
                                            </div>
                                        </td>
                                        <td><span>VS</span></td>
                                        <td>
                                            <figure><img src="extra-images/player-stats-img3.jpg" alt=""></figure>
                                            <div class="player-stats-text">
                                                <h6>L.A Pirates</h6>
                                                <span>Bebop Institute</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>December 17, 2017</td>
                                        <td>
                                            <figure><img src="extra-images/player-stats-img4.jpg" alt=""></figure>
                                            <div class="player-stats-text">
                                                <h6>Ocean Kings</h6>
                                                <span>Icarus College</span>
                                            </div>
                                        </td>
                                        <td><span>VS</span></td>
                                        <td>
                                            <figure><img src="extra-images/player-stats-img5.jpg" alt=""></figure>
                                            <div class="player-stats-text">
                                                <h6>Red Wings</h6>
                                                <span>Marine College</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>December 22, 2017</td>
                                        <td>
                                            <figure><img src="extra-images/player-stats-img1.jpg" alt=""></figure>
                                            <div class="player-stats-text">
                                                <h6>Ocean Kings</h6>
                                                <span>St. Patrick’s Institute</span>
                                            </div>
                                        </td>
                                        <td><span>VS</span></td>
                                        <td>
                                            <figure><img src="extra-images/player-stats-img2.jpg" alt=""></figure>
                                            <div class="player-stats-text">
                                                <h6>Bloody Wave</h6>
                                                <span>Marine College</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
